@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import 'colors.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: $black-dark;
    color: $black;
    font-family: 'Roboto', sans-serif;
}

.gradient-animation {
    background: linear-gradient(181deg, #262626, #bea168, #262626, #262626, #262626, #bea168);
    background-size: 1200% 1200%;

    animation: BackgroundAnimation 37s ease infinite;
}

@keyframes BackgroundAnimation {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

