@import 'global.scss';
@import 'colors.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    h1 {
        margin-bottom: 50px;
    }
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    color: $white;
    background: $black;
    box-shadow: 5px 5px $main-clr;

    height: 100px; 
    width: 300px;

    &__mins {
        font-size: 60px;
        font-weight: 700;
    } 

    &__secs {
        font-size: 20px;
        font-weight: 300;
    }

    i {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        font-size: 12px;

        &:hover {
            cursor: pointer;
        }
    }
}

.options {
    height: 100px;
    margin-top: 9px;
    margin-right: -50px;
    right: 0;

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    button {
        background-color: $main-clr;;
        border: none;
        color: $white;
        padding: 5px 5px;
        width: 50px;
        cursor: pointer;
    }

    transition: all 200ms ease-in-out;
}

.hide-options {
    margin-right: 0;
    z-index: -1;
}

.start-btn {
    margin-top: 20px;
    padding: 10px 30px;
    border: none;

    color: $white;
    background-color: $main-clr;
    box-shadow: 3px 3px $black;

    &:disabled {
        background-color: $gray;
    }
}

